
@{
    Layout = "_LayoutAdmin";
}
<h1>Rol Ekle</h1>

<form asp-action="RolEkle" method="post">

    <label>Rol Adı: </label>
    <input type="text" name="rolName" required />

    <button type="submit">Rol Ekle</button>

</form>
